<div class="header">
  <div>
    <ul class="nav-header">
      <li><button class="nav-btn">Home</button></li>
      <li><button class="nav-btn">About</button></li>
      <li><button class="nav-btn">Stories</button></li>
      <li><button class="nav-btn">Contact</button></li>
    </ul>
  </div>
  <div class="header-logo"><img style="width: 10em;" src="assets/images/raspberry-pi.png"></div>
  <div class="header-profil">
    <h2>Aygyun</h2>
    <img style="width: 3em;" src="./accounts.svg">
  </div>
</div>